# Common
.DS_Store
node_modules/
dist/
dist-ssr/
*.local

# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.txt
backend/apache-maven-*/
backend/maven.tar.gz

# Frontend
frontend/node_modules/
frontend/dist/
frontend/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and Uploads
GreyhoundsInventory/
*.db
*.sqlite
**/transaction_history/
**/images/
**/persons/
**/damaged/
